{% extends 'base.html' %}
{% load static %}

{% block title %} Annuaire | Bienvenue {% endblock %}


{% block content %} 
    <!-- ============== baniere ================ -->
    <section id="debut" class="mt-5 pt-3">
        <div class="container">
            <div class="row baniere">
                <div class="col-md-5 mx-auto my-auto d-flex">
                    <img src="{% static 'img/baniere.svg' %}" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 baniere-text mx-auto my-auto">
                    <h1 class="mb-2">
                        Aidez votre équipe à travailler mieux !
                    </h1>
                    <p>
                        Collaborez, gérez des projets et atteignez de nouveaux sommets de productivité.
                        Managez et Suivez l'avancement de votre travail où que vous soyez.
                    </p>
                    <p class="">
                        <a href="{% url 'inscription' %}" class="btn-bleu mt-2">Inscription</a>
                        &emsp;
                        <a href="{% url 'connexion' %}" class="btn-rouge mt-2">Connexion</a>
                    </p>
                </div>
            </div>
            <hr>
        </div>
    </section>

    <!-- =============== comment utiliser ============= -->
    <section id="use" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title text-center text-uppercase my-4">Comment l'utiliser ?</h1>
                </div>
            </div>
            <div class="row baniere">
                <div class="col-md-6 baniere-text mx-auto my-auto">
                    <span>
                        <h1 style="font-size: 1.7rem;">UBORA DIRECTORY</h1>
                        <p>
                            <i class="fa-solid fa-star"></i>
                            Commencez par créer un projet, les listes de tâches à effectuer et choissisez les membres devant participer au projet. 
                        </p>
                        <p><i class="fa-solid fa-star"></i> Gérez des projets, organisez des tâches et renforcez l'esprit d'équipe de votre entreprise.</p>
                    </span>
                    <p class="mt-4"><a href="" class="btn-rouge">Commencer</a></p>
                </div>
                <div class="col-md-4 mx-auto my-auto d-flex">
                    <img src="{% static 'img/task-table.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
            
        </div>
    </section>

    <!-- ================== fonctionnalités ================== -->
    <section class="my-5 pt-5" id="situation">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title text-center text-uppercase my-4">Améliorez votre façcon de travailler</h1>
            </div>
        </div>
        <div class="containerTM">
            <div class="action">
                <div class="box b1 text-center">
                    <div class="header">
                        <p class="number"><i class="fa-solid fa-circle-check"></i></p>
                        <img src="{% static 'img/room-team.jpg' %}" alt="">
                        <h4>Travail équipe à distance</h4>
                    </div>
                    <div class="content">
                        <p>
                            Travaillez chacun chez soit comme si vous étiez réunit dans un bureau
                        </p>
                    </div>
                </div>
                <div class="box b2 text-center">
                    <div class="header">
                        <p class="number"><i class="fa-solid fa-circle-check"></i></p>
                        <img src="{% static 'img/team-work.jpg' %}" alt="">
                        <h4>Renforcez le travail en équipe</h4>
                    </div>
                    <div class="content">
                        <p>
                            Créez et attribuer des tâches à chaque membre de l'équipe afin qu'il apportz sa contribution
                        </p>
                    </div>
                </div>
                <div class="box b3 text-center">
                    <div class="header">
                        <p class="number"><i class="fa-solid fa-circle-check"></i></i></p>
                        <img src="{% static 'img/home-done.svg' %}" alt="">
                        <h4>Facilitez le travail en remote</h4>
                    </div>
                    <div class="content">
                        <p>
                            Accomplissez chacun vos tâches à domicile ou n'importe où sans vous déplacer pour le bureau
                        </p>
                    </div>
                </div>
                <div class="box b4 text-center">
                    <div class="header">
                        <a class="btn-rouge" href="">Créer un projet</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
