{% extends 'base.html' %}
{% load static %}

{% block title %} Annuaire Web {% endblock %}


{% block content %} 

<style>
    #registerModal {
        transition: opacity .15s linear;
        background: rgba(0, 0, 0, 0.6) !important;
    }
</style>

{% include "gestion_user/index.html" %}

<div class="modal top fade show" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" data-mdb-backdrop="true" data-mdb-keyboard="true" style="display: block; padding-left: 0px;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Inscription</h5>
                    <!-- <button type="button"  data-mdb-dismiss="modal" aria-label="Close"></button> -->
                    <span class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="history.back()"><i class="fa-solid fa-xmark"></i></span>
                </div>
                <div class="modal-body">
                    <div class="container registerForm">
                        <p></p><p></p>

                        <!-- noms et prénoms -->
                        <div class="form-outline mb-4">
                            <input type="text" id="nom-prenom" name="nom-prenom" class="form-control">
                            <label class="form-label" for="nom-prenom" style="margin-left: 0px;">Noms et prénoms</label>
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 122.4px;"></div><div class="form-notch-trailing"></div></div></div>

                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="ville" name="ville" class="form-control">
                                    <label class="form-label" for="ville" style="margin-left: 0px;">Ville</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 34.4px;"></div><div class="form-notch-trailing"></div></div></div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="quartier" name="quartier" class="form-control">
                                    <label class="form-label" for="quartier" style="margin-left: 0px;">Quartier</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 60px;"></div><div class="form-notch-trailing"></div></div></div>
                            </div>
                        </div>
                        <!-- tealephone -->
                        <div class="form-outline mb-4">
                            <input type="text" id="tealephone" name="tealephone" class="form-control">
                            <label class="form-label" for="tealephone" style="margin-left: 0px;">Numéro de téléphone</label>
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 147.2px;"></div><div class="form-notch-trailing"></div></div></div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="email-login" name="email-login" class="form-control">
                            <label class="form-label" for="email-login" style="margin-left: 0px;">Email address</label>
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 98.4px;"></div><div class="form-notch-trailing"></div></div></div>
                        <!-- Password input -->
                        <div class="form-group">
                            <div class="fom"> 
                                <div class="form-outline mb-4">
                                    <input type="password" id="password-login" name="password-login" class="form-control password">
                                    <label class="form-label" for="password-login" style="margin-left: 0px;">Mot de passe</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 93.6px;"></div><div class="form-notch-trailing"></div></div></div>
                                <i class="fa-solid fa-eye" onclick="affiMdp()"></i>
                                <i class="fa-solid fa-eye-slash" onclick="affiMdp()" style="display: none;"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fom"> 
                                <div class="form-outline mb-4">
                                    <input type="password" id="password-login" name="password-login" class="form-control password">
                                    <label class="form-label" for="password-login" style="margin-left: 0px;">Retaper de passe</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 120.8px;"></div><div class="form-notch-trailing"></div></div></div>
                                <i class="fa-solid fa-eye" onclick="affiMdp()"></i>
                                <i class="fa-solid fa-eye-slash" onclick="affiMdp()" style="display: none;"></i>
                            </div>
                        </div>
                        <input type="text" name="type_form" id="type_form" value="registerForm" hidden="">

                        <!-- Submit button -->
                        <input type="submit" class="btn-bleu mb-4" value="S'inscrire" style="width: 100%;">

                        <!-- Register buttons -->
                        <div class="text-center mb-4">
                            <p>Déja membre ? <a href="{% url 'connexion' %}">Se connecter</a></p>
                            <p class="mb-2">ou via:</p>
                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-github"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
