{% extends 'base.html' %}
{% load static %}

{% block title %} Liste des membres | Jerry {% endblock %}


{% block content %} 
    <div class="container-md my-5 pt-3">
        <section id="member_list" class="mt-4">
            <div class="header">
                <h6>Liste des membres</h6>
                {% if request.user.membre.role == "admin" %}
                        <a href="{% url 'inscription' %}" class="">Ajouter un profil</a>
                {% endif %}
                <h6>{{member_list.count}} résultat{{member_list.count|pluralize}}</h6>
            </div>
            <hr>
            
            <div class="members">
                {% for member in member_list %}
                    <div class="box">
                        <div class="card h-100">
                            <a href="{% url 'profil_membre' member.user.id %}" data-mdb-toggle="tooltip" title="Cliquer pour consulter le profil">
                                <div class="card-img-top">
                                    <img src="{{member.photo.url}}" alt="Photo profil"/>
                                </div>
                            </a>
                            <div class="card-body">
                                <h6 class="pref bg-white rounded-pill px-2 py-1">{{member.fonction}}</h6>
                                <h5 class="card-title">{{member.user.last_name}}</h5>
                                <p class="card-text py-2">{{member.description|truncatechars:110}}</p>
                                <div class="coord">
                                    <p data-mdb-toggle="popover" title="Quartier, Ville" data-mdb-content="{{member.quartier}}, {{member.ville}}">
                                        <span class="px-3 py-1 rounded-pill"><i class="fa-solid fa-location-dot"></i> </span>
                                    </p>
                                    <p data-mdb-toggle="popover" title="Téléphone" data-mdb-content="{{member.telephone}}">
                                        <span class="px-3 py-1 rounded-pill"><i class="fa-solid fa-mobile-screen-button"></i></span>
                                    </p>
                                    <p data-mdb-toggle="popover" title="Adresse email" data-mdb-content="{{member.user.username}}">
                                        <span class="px-3 py-1 rounded-pill"><i class="fa-solid fa-envelope"></i></span>
                                    </p>
                                    <div class="dropdown">
                                        <span class="px-3 py-1 rounded-pill"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-bars"></i>
                                        </span>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="{% url 'profil_membre' member.user.id %}">Voir profil</a></li>
                                            {% if request.user.membre.role == "admin" %}
                                            <li><a class="dropdown-item" href="{% url 'supprimer_compte_2' member.user.id %}" onclick="return confirmSupp();">Supprimer ce compte</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Créé le {{member.date_created}}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        </section>
    </div>
{% endblock %}
