@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Handlee;
    src: url(../fonts/Handlee-Regular.ttf);
}

h1, h2, h3,
h4, h5, h6, a, p{
    /* color: var(--color-dark); */
    margin-bottom: 0;
}


/* =============== COULEURS ================== */

:root {
    --color-bleu: #0b5ed7;
    --color-rouge: #ff0037;
    --color-dark: #241e38;
    --color-light: hsl(252, 30%, 96%);
    --color-gray: hsl(252, 15%, 65%);
    --search-padding: 0.3rem 1rem;
    --border-radius: 2rem;
}

.text-secondary {
    color: var(--color-dark) !important;
}


body {
    font-family: 'Poppins', sans-serif !important;
    color: var(--color-dark) !important;
    background: var(--color-light);
    overflow-x: hidden;
}



/* ================== BOUTONS ======================== */

.btn-bleu,
.btn-rouge,
.btn-blanc{
    border-radius: 50rem !important;
    padding: .5rem 1.5rem !important;
    border-width: 2px !important;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
    border: none !important;
}
.btn-bleu.mod,
.btn-rouge.mod,
.btn-blanc.mod{
    font-size: 0.9rem !important;
    line-height: 1;
    padding: .5rem .9rem !important;
}

.btn-bleu:hover,
.btn-rouge:hover,
.btn-blanc:hover{
    transition: .2s;
	transform: scale(1.05);
}

.btn-bleu{
    border-color: var(--color-bleu) !important;
    background: var(--color-bleu) !important;
    color: #fff !important;
}
.btn-rouge{
    border-color: var(--color-rouge) !important;
    background: var(--color-rouge) !important;
    color: #fff !important;
}
.btn-blanc{
    border-color: #fff !important;
    background: #fff !important;
    color: #333 !important;
}

.border-primary:hover{
    background: var(--color-bleu);
    color: #fff !important;
    font-weight: 450;
    transition: 0.3s;
}
.border-danger:hover{
    background: var(--color-rouge);
    color: #fff !important;
    font-weight: 450;
    transition: 0.3s;
}



/* ==================   navbar ===================== */

.navbar-brand {
    position: relative;
    width: 70px;
}
.navbar-brand span{
    position: absolute;
    /* font-weight: 700; */
    font-family: 'Pacifico' !important;
    font-size: 1.7rem !important;
    margin-top: -7px;
}

.nav-link{
    font-weight: 450;
}

.main-nav .navbar-toggler {
    border: none !important;
}

@media screen and (max-width: 991px) {
    .main-nav .navbar-toggler i{
        font-size: 1.3rem !important;
        color: var(--color-bleu);
        padding: 0rem .5rem;
        border-radius: 10px;
    }
}

.dropstart .profile-drop[data-bs-popper] {
    top: 100%;
    right: 0;
    left: auto;
}
.dropend .profile-drop[data-bs-popper] {
    /* top: -100%;
    right: auto;
    left: 100%; */
}

.profile-drop{
    width: max-content !important;
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.295);
}

@media screen and (max-width: 767px) {
    .profile-drop{
        width: 330px !important;
    }
}

.profile-drop li{
    font-weight: 500;
    font-size: 1rem;
}
.profile-drop li:first-child{
    font-size: 1.1rem;
    font-weight: 500;
}
.profile-drop .user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.profile-drop .user p:first-child{
    font-weight: 500;
}
.profile-drop .user p:last-child{
    font-size: 0.8rem;
}

.main-nav.bg-primary .text-secondary,
.main-nav.bg-primary .text-dark,
.main-nav.bg-primary .navbar-toggler i
{
    color: #fff !important;
}

/* .main-nav.bg-primary .navbar-brand {
    font-weight: 600;
} */
.main-nav.bg-primary .text-secondary{
    font-weight: 400;
}


/* ================== page accueil 1 =================== */

/* ---------- baniere ----------- */

.baniere .baniere-text p{
    font-weight: 500;
}
.baniere .baniere-text p a{
    padding: .5rem 2rem !important;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .baniere .baniere-text h1{
        font-size: 2rem;
    }
    .baniere .baniere-text p{
        font-size: 0.9rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 767px) {
    .baniere {
        padding: 0 1rem;
    }
    .baniere img{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .baniere .baniere-text{
        padding: 0 1rem;
        text-align: center;
    }
    .baniere .baniere-text h1{
        font-size: 1.8rem;
    }
    .baniere .baniere-text p{
        font-size: 0.9rem;
        font-weight: 500;
    }
    .baniere .baniere-text p a{
        margin: 1.5rem 0 !important;
    }
}

/* ------------ comment utiliser -------------- */

.title{
    font-size: 1.4rem;
    color: var(--color-rouge);
    font-weight: 700;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-family: 'Handlee';
}
.title::before{
    content: '';
    background: linear-gradient(var(--color-rouge), #fff);
    height: 40px;
    width: 60px;
    position: absolute;
    top: -20px;
    z-index: -1;
    transform: rotate(-10deg);
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
}



/* --------------- fonctionnalités ------------------- */

.containerTM {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 20px;
}

.action {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.box h4 {
    font-weight: 500;
}
.box {
    font-size: 14px;
    position: relative;
    transition: 0.2s ease-in-out;
    margin: 10px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
}
.box .content p {
    font-size: 14px;
    margin-top: 3px;
}

.box .content a {
    position: relative;
    margin: 5px 0;
    color: #fff !important;
    font-size: 12px;
}
.box .number{
    position: absolute;
}
.box .number i{
    color: var(--color-rouge);
    font-size: 1.3rem;
    border-radius: 50%;
    font-weight: 600;
    padding: 5px 8px;
}

.action, #footer {
    position: relative;
    z-index: 10;
}

.header img{ 
    height: 200px;
    width: auto;
}

@media screen and (max-width: 991px) {
    #situation {
        border-top: var(--color-rouge) solid 2px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0 .2rem 1rem rgba(0,0,0,.2) !important;
        margin: 10px 5% 50px;
        padding: 40px 20px 0;
    }
}

@media screen and (max-width: 768px) {
    .header img{ 
        height: 150px;
        width: auto;
    }
}








/* ================= FORMS =================== */


.modal-header{
    background: var(--color-bleu);
    color: #fff;
}
.modal-header .btn-close {
    color: #fff !important;
    padding: 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem auto;
    width: 1em;
    height: 1em;
    cursor: pointer;
    font-size: 1.5rem;
    background: none;
}

label{
    font-weight: 400;
}

.loginForm {
    padding: 0 3rem;
}

@media screen and (max-width: 767px) {
    .loginForm {
        padding: 0 1rem;
    }
}

/* ----------- erros --------------- */

.err {
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    box-shadow: 0 0 0 1px #F93154 !important;
    /* border-left: #F93154 solid 2px !important;
    border-right: #F93154 solid 2px !important;
    border-bottom: #F93154 solid 2px !important; */
    border-top: none;
}
.errorform{
    padding-top: 5px;
    font-size: 14px;
    display: 500;
    margin: 0 0 0px 0;
    color: #e35f5f;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 13px;
}
  
.errorlist {
    padding: 3px 0 8px !important;
    margin: 0 !important;
}
.errorlist >li {
    display: block;
    /* color: #e35f5f !important; */
    color: #F93154 !important;
    font-weight: 700;
    font-size: 13px !important;
}

.errornotes{
    font-size: 14px;
    font-weight: 500;
    display: block;
    padding: 10px 12px;
    color: #F93154;
    border: 1px solid #F93154;;
    border-radius: 4px;
    background-color: rgb(255, 210, 210);
    background-position: 5px 12px;
    overflow-wrap: break-word;
    /* width: 80%; */
    margin: auto;
}
  
.infonotes{
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    color: #006b1b;
    border: 1px solid #006b1b;;
    border-radius: 4px;
    background-color: rgb(215, 255, 210);
    background-position: 5px 12px;
    overflow-wrap: break-word;
    /* width: 80%; */
    margin: auto;
}



/* ==================== page inscrition ================ */

#registerModal {
    transition: opacity .15s linear;
    background: rgba(0, 0, 0, 0.6) !important;
}

.pwd{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0.5rem;
}

.pwd .form-group{
    width: 95%;
}
.pwd .dropdown{
    position: relative;
    top: 0.3rem;
}
.pwd .dropdown i{
    color: var(--color-bleu);
    font-size: 1.5rem;
    top: 2rem;
    cursor: pointer;
}
.pwd .dropdown .dropdown-menu{
    width: 300px;
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.397);
}

.pwd .dropdown .dropdown-menu li{
    font-weight: 400;
    font-size: 0.9rem;
}
.pwd .dropdown .dropdown-menu li:first-child{
    font-size: 1.1rem;
    font-weight: 500;
}





/* =================== PAGE PROFIL MEMBRE ============= */


#profil .header.prof{
    background: #F4F5F7;
    /* border-bottom: #C1C7D0 solid 1px; */
    /* display: flex; */
    /* flex-direction: column; */
}

#profil .header .nav-tabs {
    /* margin: 20px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.3rem;
    border-bottom: #C1C7D0 solid 1px;
}

.header .nav-tabs > li{
    width: 150px;
}
.header .nav-tabs li .nav-link{
    background: #C1C7D0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: #C1C7D0 solid 1px;
    text-transform: none;
    font-weight: 500;
    font-size: 0.95rem;
    padding: 0.8rem 0;
    text-align: center;
}

.header .nav-tabs li .nav-link:hover{
    background: #9ba5c9;
    border: #9ba5c9 solid 1px;
}
.header .nav-tabs .nav-link.active,
.header .nav-tabs .nav-link.active:hover{
    background: #fff;
    border-bottom: #fff solid 1.5px;
}

#profil .header .user-profile{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    /* padding: 3rem 2rem; */
}

#profil .header .user-profile img{
    width: 5rem;
    height: 5rem;
}

.profile-photo{
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border: var(--color-bleu) solid 1px;
}
.profile-photo.drop{
    width: 2.7rem;
}
.profile-photo img{
    display: block;
    width: 100%;
}

#drop-compte a img{
    width: 2.7rem;
    height: 2.7rem;
}


#profil .header .user-profile .noms{
    font-size: 1.5rem;
    font-weight: 500;
}
#profil .header .user-profile p:last-child{
    font-size: 0.9rem;
}


@media screen and (max-width: 767px) {
    .header .nav-tabs > li{
        width: 105px;
    }
    .header .nav-tabs li .nav-link{
        font-size: 0.9rem;
        padding: 0.7rem 0;
    }

    #profil .header .user-profile img{
        width: 4rem;
        height: 4rem;
    }
    #profil .header .user-profile p:first-child{
        font-size: 1.3rem;
        font-weight: 500;
    }
    #profil .header .user-profile p:last-child{
        font-size: 0.8rem;
    }
}

/* -------------- titre de la page 'mon compte' --------- */


#profil .header .user-profile #compte{
    font-family: 'Handlee';
    color: var(--color-rouge);
    font-size: 2.5rem;
    line-height: 2.5rem;
}

#profil .header .user-profile span p:first-child{
    display: flex;
    align-items: center;
}
#profil .header .user-profile #admin{
    font-size: 0.8rem;
    border-radius: 50rem;
    padding: 5px 10px !important;
    background: #fff;
    font-weight: 500 !important;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.705);
}




/* ======================== LISTE DES MEMBRES ======================== */

#member_list .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section hr{
    margin-top: 0.5rem;
}

#member_list .members {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
}
#member_list .members .box{
    width: 348px !important;
    margin: 1.5rem 0 0;
}

.box .card{
    text-decoration: none !important;
    color: #242424;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.288);
    transition: 0.3s;
}
.box .card .card-img-top:hover{
    transition: 0.3s;
    /* transform: scale(1.05); */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.425);
}

.box .card .card-img-top{
    width: 100%;
    height: 220px;
    overflow: hidden;
}
.box .card .card-img-top img{
    width: 100%;
    /* height: 100%; */
}

.box .card .card-body{
    position: relative;
}
.box .card .card-body .pref{
    position: absolute;
    top: -2rem;
    font-size: 0.8rem;
    opacity: 0.8;
}
.card-body .card-title{
    font-size: 1.1rem;
}
.card-body .coord {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body .coord p,
.card-body .coord div{
    margin: 0.7rem 0.3rem 0;
    font-size: 1rem;
    color: #3b3b3b;
    cursor: pointer;
}
.card-body .coord p span,
.card-body .coord div span{
    background: #ECEFF1;
}
.card-body .coord p span:hover{
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.425);
    background: #ECEFF1;
}


/* ====================== PAGE DE TÂCHES ================== */

#task_list .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#task_list .header p span{
    font-size: 0.8rem;
    margin: 0 0.2rem;
}
#task_list .header p .attente{
    background: #a0a1a5;
}
#task_list .header p .encours{
    background: #ffd8ac;
}
#task_list .header p .livree{
    background: #95f59d;
}

#task_list .content{
    display: flex;
    justify-content: center;
}

#task_list .liste {
    display: flex;
    align-items: start;
    overflow-x: scroll;
    /* display: none; */
    height: max-content;
    padding: 0 0 30px;
}

/* #task_list .wrapper{
    display: flex;
    align-items: start;
    justify-content: center;
    overflow-x: scroll;
} */

#task_list .liste .etat {
    background: #ebecf0;
    padding: 10px;
    border-radius: 5px;
    margin: 0 .5rem;
    width: 280px;
    min-width: 280px;
}
#task_list .liste .etat.encours{
    background: #ffe8cd;
}
#task_list .liste .etat.livree{
    background: #cdffd1;
}

.liste .etat .task:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.452) !important;
}

.etat .head, 
.etat .task .info,
.etat .task .intitule{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.etat .task .info .progres{
    font-size: 0.7rem;
    background: #ebecf0;
}

.etat .task .info .membres{
    display: flex;
    gap: 0.4rem;
}

.membre{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.info .membres .membre.plus{
    border: #5c5c5c solid 1px;
    text-align: center;
    color: #5c5c5c;
}
.info .membres .membre:hover{
    opacity: 0.8;
}
.membre img{
    width: 100%;
}

.etat .task{
    border-radius: 5px;
    font-weight: 400;
}
.etat .task .intitule h6 {
    font-size: 0.85rem;
    font-weight: 400;
}
.etat .head i{
    color: #3b3b3b;
    cursor: pointer;
}
.etat .task .intitule i{
    font-size: 0.75rem;
    color: #5c5c5c;
    cursor: pointer;
    padding: 5px;
    visibility: hidden;
}
.etat .task:hover .intitule i{
    visibility: visible;
}

.etat .task .intitule i:hover{
    background: #ebecf0;
    border-radius: 5px;
}


.dropdown-menu .head-membre{
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    height: 80px;
    padding: 1rem;
    gap: 0.3rem;
    background: var(--color-bleu);
    font-size: 16px;
    color: #fff;
    margin-bottom: 2.2rem;
}
.head-membre div:last-child{
    position: relative;
    bottom: -10px;
}
.membre.drop{
    width: 88px;
    height: 88px;
    position: relative;
    bottom: 0px;
}

.membres .dropdown-menu {
    width: max-content !important;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.295);
}


/* --------- search bar --------------- */

.searchNav .result .search-bar{
    display: none;
}

.search-bar{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar input[type="search"]{
    background: transparent;
    width: 90%;
    margin-left: 0.9rem;
    color: var(--color-dark);
    border: none !important;
}
.search-bar input[type="search"]:focus{
    border: none !important;
}
.search-bar input[type="search"]::placeholder{
    color: var(--color-gray);
}



.modal-body .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}




/* ===================== PAGE PROFIL, TAB 2 ====================== */



/* ====================== ACCUEIL ================== */

#accueil .container{
    display: flex;
    flex-direction: column;
}

#accueil .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    #accueil .page {
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
        /* margin: 2rem; */
        gap: 2rem;
        position: relative;
    }

    #accueil .page .page-content .h5{
        font-size: 1rem;
    }
    .page-content .h5 i{
        display: none;
    }

    #accueil .page .page-content .projet {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
    }

    .page-content .projet .projet-card{
        border-radius: 10px;
        width: 190px;
        height: 100px;
        position: relative;
        overflow: hidden;
        color: #fff;
    }

    .page-content .projet .projet-card img{
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    .projet-card .proj-title{
        position: absolute;
        top: 0;
        padding: 5px 10px;
        font-size: 0.9rem;
        font-weight: 700;
    }
    .projet-card .proj-foot{
        font-size: 0.7rem;
        font-weight: 600;
        padding: 5px 10px;
        position: absolute;
        bottom: 0;
    }

    .page-content .projet .p-box .proj-foot{
        visibility: hidden;
        transition: 0.1s;
        bottom: -20px;
    }
    .page-content .projet .p-box:hover .proj-foot {
        visibility: visible;
        transition: 0.3s;
        bottom: 0;
    }

}

#accueil .page .sidebar{
    min-width: 300px;
    max-width: 300px;
    position: relative;
}
#accueil .page .sidebar .side {
    border-radius: 10px;
    position: relative;
    /* margin-bottom: 1.5rem; */
    background: #fff;
}
#accueil .page .sidebar .side .side-head {
    background: var(--color-bleu);
    width: 100%;
    padding: 10px;
    color: #fff;
}
.side-head h5{
    font-size: 1rem;
}

#accueil .page .sidebar .side .side-content {
    position: relative;
    padding: 10px;
}
.side-content p{
    font-size: 0.85rem;
}
.side-content img{
    width: 100%;
}

.page-content .projet .p-box {
    opacity: 0.95;
    transition: 0.3s;
}
.page-content .projet .p-box:hover {
    opacity: 2;
}


@media screen and (max-width: 767px) {
    #accueil a{
        color: var(--color-dark);
    }

    #accueil .page .sidebar.md{
        display: none;
    }
    #accueil .page .sidebar.drop .side-head{
        background: var(--color-rouge);
    }

    .page-content .projet{
        margin-top: 1rem;
    }

    .page-content .h5{
        background: var(--color-bleu);
        color: #fff;
        font-size: 1rem;
        padding: 10px;
    }
    .page-content .h5 i{
        cursor: pointer;
        font-size: 1.1rem;
    }
    .page-content .h5 .side-content p{
        font-size: 0.85rem;
        font-weight: 400;
    }

    .page-content .projet .projet-card {
        position: relative;
        display: flex;
        align-items: start;
        gap: 0.6rem;
        margin-top: 1rem;
    }

    /* .page-content .projet .projet-card .proj-title{
        border-bottom: #333 solid 1px;
    } */


    .page-content .projet .projet-card .proj-img{
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 5px;
    }
    .proj-img img{
        width: 100%;
    }
    .projet-card .proj-title{
        font-size: 1.1rem;
        font-weight: 600;
    }
    .projet-card .proj-foot{
        position: absolute;
        bottom: 0;
        left: 3.8rem;
    }
    .projet-card .proj-foot span:last-child{
        display: none;
    }
    .projet-card .proj-foot span:first-child{
        font-size: 0.8rem;
    }


    /* #accueil .page .page-content .projet {
        justify-content: center;
    }

    .page-content .projet .projet-card{
        border-radius: 10px;
        width: 200px;
        height: 100px;
        position: relative;
        overflow: hidden;
        color: #fff;
    }
    
    .page-content .projet .projet-card img{
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    .projet-card .proj-foot{
        font-size: 0.8rem;
        padding: 10px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        position: relative;
        margin-bottom: 0;
        margin-top: 33%;
    } */
}


