@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Handlee;
    src: url(../fonts/Handlee-Regular.ttf);
}

/* :root {
    --color-hue_1: 216;
    --color-hue_2: 90%;
    --color-hue_3: 44%;

    --color-light-lightness: 95%;
    --color-dark-lightness: 17%;
    --color-white-lightness: 100%;


    --color-white: hsl(252, 30%, var(--color-white-lightness));
    --color-light: hsl(252, 30%, var(--color-light-lightness));
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--color-hue_1), var(--color-hue_2),var(--color-hue_3));
    --color-orange: hsl(27,100%,59%);
    --color-rouge: hsl(347,100%,50%);
    --color-vert: hsl(120, 95%, 40%);
    --color-bleu: #0b5ed7;
    --color-secondary: hsl(252, 100%, 90%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--color-dark-lightness));
    --color-black: hsl(252, 30%, var(--color-black-lightness));

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
} */

/* body{
    font-family: 'Poppins', sans-serif !important;
    color: var(--color-dark) !important;
    background: var(--color-light);
    overflow-x: hidden;
} */

h1, h2, h3,
h4, h5, h6, a, p{
    /* color: var(--color-dark); */
    margin-bottom: 0;
}


/* =============== COULEURS ================== */

:root {
    --color-bleu: #0b5ed7;
    --color-rouge: #ff0037;
    --color-dark: #241e38;
}

.text-secondary {
    color: var(--color-dark) !important;
}


body {
    font-family: 'Poppins', sans-serif !important;
    color: var(--color-dark);
}



/* ================== BOUTONS ======================== */

.btn-bleu,
.btn-rouge,
.btn-blanc{
    border-radius: 50rem !important;
    padding: .5rem 1.5rem !important;
    border-width: 2px !important;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
    border: none !important;
}
.btn-bleu.mod,
.btn-rouge.mod,
.btn-blanc.mod{
    font-size: 0.9rem !important;
    line-height: 1;
    padding: .5rem .9rem !important;
}

.btn-bleu:hover,
.btn-rouge:hover,
.btn-blanc:hover{
    transition: .2s;
	transform: scale(1.05);
}

.btn-bleu{
    border-color: var(--color-bleu) !important;
    background: var(--color-bleu) !important;
    color: #fff !important;
}
.btn-rouge{
    border-color: var(--color-rouge) !important;
    background: var(--color-rouge) !important;
    color: #fff !important;
}
.btn-blanc{
    border-color: #fff !important;
    background: #fff !important;
    color: #333 !important;
}

.border-primary:hover{
    background: var(--color-bleu);
    color: #fff !important;
    font-weight: 450;
    transition: 0.3s;
}
.border-danger:hover{
    background: var(--color-rouge);
    color: #fff !important;
    font-weight: 450;
    transition: 0.3s;
}



/* ==================   navbar ===================== */

.navbar-brand {
    font-weight: 700;
}
.nav-link{
    font-weight: 450;
}

.main-nav .navbar-toggler {
    border: none !important;
}

@media screen and (max-width: 991px) {
    .main-nav .navbar-toggler i{
        font-size: 1.3rem !important;
        color: var(--color-bleu);
        padding: 0rem .5rem;
        border-radius: 10px;
    }
}

.profile-drop{
    width: max-content !important;
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.295);
}
.profile-drop li{
    font-weight: 500;
    font-size: 1rem;
}
.profile-drop li:first-child{
    font-size: 1.1rem;
    font-weight: 500;
}
.profile-drop .user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.profile-drop .user p:first-child{
    font-weight: 500;
}
.profile-drop .user p:last-child{
    font-size: 0.8rem;
}

.main-nav.bg-primary .text-secondary,
.main-nav.bg-primary .text-dark,
.main-nav.bg-primary .navbar-toggler i
{
    color: #fff !important;
}

.main-nav.bg-primary .navbar-brand {
    font-weight: 600;
}
.main-nav.bg-primary .text-secondary{
    font-weight: 400;
}


/* ================== page accueil 1 =================== */

/* ---------- baniere ----------- */

.baniere .baniere-text p{
    font-weight: 500;
}
.baniere .baniere-text p a{
    padding: .5rem 2rem !important;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .baniere .baniere-text h1{
        font-size: 2rem;
    }
    .baniere .baniere-text p{
        font-size: 0.9rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 767px) {
    .baniere {
        padding: 0 1rem;
    }
    .baniere img{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .baniere .baniere-text{
        padding: 0 1rem;
        text-align: center;
    }
    .baniere .baniere-text h1{
        font-size: 1.8rem;
    }
    .baniere .baniere-text p{
        font-size: 0.9rem;
        font-weight: 500;
    }
    .baniere .baniere-text p a{
        margin: 1.5rem 0 !important;
    }
}

/* ------------ comment utiliser -------------- */

.title{
    font-size: 1.4rem;
    color: var(--color-rouge);
    font-weight: 700;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-family: 'Handlee';
}
.title::before{
    content: '';
    background: linear-gradient(var(--color-rouge), #fff);
    height: 40px;
    width: 60px;
    position: absolute;
    top: -20px;
    z-index: -1;
    transform: rotate(-10deg);
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
}



/* --------------- fonctionnalités ------------------- */

.containerTM {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 20px;
}

.action {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.box h4 {
    font-weight: 500;
}
.box {
    font-size: 14px;
    position: relative;
    transition: 0.2s ease-in-out;
    margin: 10px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
}
.box .content p {
    font-size: 14px;
    margin-top: 3px;
}

.box .content a {
    position: relative;
    margin: 5px 0;
    color: #fff !important;
    font-size: 12px;
}
.box .number{
    position: absolute;
}
.box .number i{
    color: var(--color-rouge);
    font-size: 1.3rem;
    border-radius: 50%;
    font-weight: 600;
    padding: 5px 8px;
}

.action, #footer {
    position: relative;
    z-index: 10;
}

.header img{ 
    height: 200px;
    width: auto;
}

@media screen and (max-width: 991px) {
    #situation {
        border-top: var(--color-rouge) solid 2px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0 .2rem 1rem rgba(0,0,0,.2) !important;
        margin: 10px 5% 50px;
        padding: 40px 20px 0;
    }
}

@media screen and (max-width: 768px) {
    .header img{ 
        height: 150px;
        width: auto;
    }
}








/* ================= FORMS =================== */


.modal-header{
    background: var(--color-bleu);
    color: #fff;
}
.modal-header .btn-close {
    color: #fff !important;
    padding: 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem auto;
    width: 1em;
    height: 1em;
    cursor: pointer;
    font-size: 1.5rem;
    background: none;
}

label{
    font-weight: 400;
}

.loginForm {
    padding: 0 3rem;
}

@media screen and (max-width: 767px) {
    .loginForm {
        padding: 0 1rem;
    }
}

/* ----------- erros --------------- */

.err {
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    box-shadow: 0 0 0 1px #F93154 !important;
    /* border-left: #F93154 solid 2px !important;
    border-right: #F93154 solid 2px !important;
    border-bottom: #F93154 solid 2px !important; */
    border-top: none;
}
.errorform{
    padding-top: 5px;
    font-size: 14px;
    display: 500;
    margin: 0 0 0px 0;
    color: #e35f5f;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 13px;
}
  
.errorlist {
    padding: 3px 0 8px !important;
    margin: 0 !important;
}
.errorlist >li {
    display: block;
    /* color: #e35f5f !important; */
    color: #F93154 !important;
    font-weight: 700;
    font-size: 13px !important;
}

.errornotes{
    font-size: 14px;
    font-weight: 500;
    display: block;
    padding: 10px 12px;
    color: #F93154;
    border: 1px solid #F93154;;
    border-radius: 4px;
    background-color: rgb(255, 210, 210);
    background-position: 5px 12px;
    overflow-wrap: break-word;
    /* width: 80%; */
    margin: auto;
}
  
.infonotes{
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    color: #006b1b;
    border: 1px solid #006b1b;;
    border-radius: 4px;
    background-color: rgb(215, 255, 210);
    background-position: 5px 12px;
    overflow-wrap: break-word;
    /* width: 80%; */
    margin: auto;
}



/* ==================== page inscrition ================ */

#registerModal {
    transition: opacity .15s linear;
    background: rgba(0, 0, 0, 0.6) !important;
}

.pwd{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0.5rem;
}

.pwd .form-group{
    width: 95%;
}
.pwd .dropdown{
    position: relative;
    top: 0.3rem;
}
.pwd .dropdown i{
    color: var(--color-bleu);
    font-size: 1.5rem;
    top: 2rem;
    cursor: pointer;
}
.pwd .dropdown .dropdown-menu{
    width: 300px;
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.397);
}

.pwd .dropdown .dropdown-menu li{
    font-weight: 400;
    font-size: 0.9rem;
}
.pwd .dropdown .dropdown-menu li:first-child{
    font-size: 1.1rem;
    font-weight: 500;
}





/* =================== PAGE PROFIL MEMBRE ============= */

#profil .header{
    background: #F4F5F7;
    /* border-bottom: #C1C7D0 solid 1px; */
    /* display: flex; */
    /* flex-direction: column; */
}

#profil .header .nav-tabs {
    /* margin: 20px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.3rem;
    border-bottom: #C1C7D0 solid 1px;
}

.header .nav-tabs > li{
    width: 150px;
}
.header .nav-tabs li .nav-link{
    background: #C1C7D0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: #C1C7D0 solid 1px;
    text-transform: none;
    font-weight: 500;
    font-size: 0.95rem;
    padding: 0.8rem 0;
    text-align: center;
}

.header .nav-tabs li .nav-link:hover{
    background: #9ba5c9;
    border: #9ba5c9 solid 1px;
}
.header .nav-tabs .nav-link.active,
.header .nav-tabs .nav-link.active:hover{
    background: #fff;
    border-bottom: #fff solid 1.5px;
}

#profil .header .user-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0 2rem;
}
#profil .header .user-profile img{
    width: 5rem;
    height: 5rem;
}
#profil .header .user-profile p:first-child{
    font-size: 1.5rem;
    font-weight: 500;
}
#profil .header .user-profile p:last-child{
    font-size: 0.9rem;
}


@media screen and (max-width: 767px) {
    .header .nav-tabs > li{
        width: 105px;
    }
    .header .nav-tabs li .nav-link{
        font-size: 0.9rem;
        padding: 0.7rem 0;
    }

    #profil .header .user-profile img{
        width: 4rem;
        height: 4rem;
    }
    #profil .header .user-profile p:first-child{
        font-size: 1.3rem;
        font-weight: 500;
    }
    #profil .header .user-profile p:last-child{
        font-size: 0.8rem;
    }
}




