{% extends 'base.html' %}
{% load static %}

{% block title %} Accueil | Annuaire {% endblock %}


{% block content %} 
    <section id="accueil" class="my-5 pt-3">
        <div class="container mt-3">
            <div class="header">
                <h6>Projets</h6>

                {% if projets and request.user.membre.role == "admin" %}
                <a href="" class="btn-bleu">Créer +</a>
                {% endif %}

                <h6>{{projets.count}} résultat{{projets.count|pluralize}}</h6>
            </div>
            <hr>
        </div>


        <div class="container cont mt-3">
        {% if projets %}

            <div class="page my-2">
                <div class="sidebar md">
                    <div class="side shadow">
                        <div class="side-head rounded-top">
                            <h5>Projets Publiques</h5>
                        </div>
                        <div class="side-content">
                            <img src="{% static 'img/team-work.jpg' %}" alt="">
                            <p>
                                Les <b>projets publiques</b> sont visibles pour tous les utilisateurs inscrits sur la plateforme. 
                                Ceux-ci peuvent consulter l'activité du dit projet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="h5 mb-2 dropdown">
                        <span>Liste des projets publiques</span>
                        <i class="fa-solid fa-circle-question" 
                        id="pub-proj" data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu" aria-labelledby="pub-proj">
                            <div class="sidebar drop">
                                <div class="side shadow">
                                    <div class="side-head rounded-top">
                                        <h5>Projets Publiques</h5>
                                    </div>
                                    <div class="side-content">
                                        <img src="{% static 'img/team-work.jpg' %}" alt="">
                                        <p>
                                            Les <b>projets publiques</b> sont visibles pour tous les utilisateurs inscrits sur la plateforme. 
                                            Ceux-ci peuvent consulter l'activité du dit projet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="projet">
                        {% for projet in public_proj %}
                        <a class="p-box" href="">
                            <div class="projet-card">
                                <div class="proj-img">
                                    <div class="proj-img">
                                        <img src="{% static 'img/pp.jpeg' %}" alt="">
                                    </div>
                                </div>
                                <div class="proj-title">
                                    {{projet.titre}}
                                </div>
                                <div class="proj-foot">
                                    <span>{{projet.created}}</span>
                                    <span class="bg-primary rounded-pill px-2" style="color: #fff;">
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <a class="p-box" href="">
                            <div class="projet-card">
                                <div class="proj-img">
                                    <div class="proj-img">
                                        <img src="{% static 'img/pp.jpeg' %}" alt="">
                                    </div>
                                </div>
                                <div class="proj-title">
                                    Titre du projet
                                </div>
                                <div class="proj-foot">
                                    <span>date création</span>
                                    <span class="bg-primary rounded-pill px-2" style="color: #fff;">
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </span>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="page mt-5">
                <div class="sidebar md">
                    <div class="side shadow">
                        <div class="side-head rounded-top">
                            <h5>Projets Privés</h5>
                        </div>
                        <div class="side-content">
                            <img src="{% static 'img/private_proj.jpg' %}" alt="">
                            <p>
                                Les <b>projets Privés</b> sont visibles pour tous les utilisateurs inscrits sur la plateforme. 
                                Mais seuls les membre ajoutés comme collaborateur peuvent consulter l'activité du dit projet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="h5 mb-2 dropdown">
                        <span>Liste de projets privés</span> 
                        <i class="fa-solid fa-circle-question" 
                        id="pub-proj" data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu" aria-labelledby="pub-proj">
                            <div class="sidebar drop">
                                <div class="side shadow">
                                    <div class="side-head rounded-top">
                                        <h5>Projets Privés</h5>
                                    </div>
                                    <div class="side-content">
                                        <img src="{% static 'img/private_proj.jpg' %}" alt="">
                                        <p>
                                            Les <b>projets Privés</b> sont visibles pour tous les utilisateurs inscrits sur la plateforme. 
                                            Mais seuls les membre ajoutés comme collaborateur peuvent consulter l'activité du dit projet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="projet">
                        {% for projet in private_proj %}
                        <a class="p-box" href="">
                            <div class="projet-card">
                                <div class="proj-img">
                                    <div class="proj-img">
                                        <img src="{% static 'img/pp.jpeg' %}" alt="">
                                    </div>
                                </div>
                                <div class="proj-title">
                                    {{projet.titre}}
                                </div>
                                <div class="proj-foot">
                                    <span>{{projet.created}}</span>
                                    <span class="bg-primary rounded-pill px-2" style="color: #fff;">
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <a class="p-box" href="">
                            <div class="projet-card">
                                <div class="proj-img">
                                    <div class="proj-img">
                                        <img src="{% static 'img/pp.jpeg' %}" alt="">
                                    </div>
                                </div>
                                <div class="proj-title">
                                    Titre du projet
                                </div>
                                <div class="proj-foot">
                                    <span>date création</span>
                                    <span class="bg-primary rounded-pill px-2" style="color: #fff;">
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </span>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% else %}
            <style>
                body{
                    background: #fff !important;
                }
            </style>
            <div class="empty">
                <div class="content">
                    <img src="{% static 'img/lack1.jpeg' %}" alt="">
                    <h6>Aucun projet pour le moment</h6>
                    {% if request.user.membre.role == "admin" %}
                    <a href="" class="btn-bleu">Ajouter un projet +</a>
                    {% endif %}
                </div>
            </div>

        {% endif %}
        </div>



    </section>
{% endblock %}
